<!-- edit_product.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header bg-primary text-white">
                Editar Produto
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }} <!-- Exibe o formulário -->
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </form>
                <a href="{% url 'productlist' %}" class="btn btn-danger mt-3">Voltar para a lista de produtos</a>
            </div>
        </div>
    </div>
</body>
</html>
